# Replace these variables with your custom model and API key
OPENAI_API_KEY = "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"
# OPENAI_API_KEY = "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"
